/* 
reset  
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container .sizeImg {
    margin: auto;
    
} */

.container  {
    
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.images {
    width: 700px;
    /* position: relative; */
    
}
.sizeImg {
    position: relative;
    display: none;
}

.sizeImgActive {
    display: block;
    position: relative;
}

img {
    height: 300px;
    width: 700px;   
}

.arrow {
    background-color: gray;
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    left: 450px;
    z-index: 1;
}

/* .arrow > i {
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
} */

.arrowUp {
    top: 15px;
}

.arrowDown {
    bottom: 450px;
}